@{
    ViewBag.Title = "About";
}

<h3>@ViewBag.Message</h3>
<iframe width="1240" height="800" src="https://app.powerbi.com/view?r=eyJrIjoiMjRjNDAwYjItOTQ1NC00ZTQxLWI1ZDktYzliNmQ3Yzk5OTE0IiwidCI6IjNiNTAyMjljLWNkNzgtNDU4OC05YmNmLTk3Yjc2MjllMmYwZiIsImMiOjh9" frameborder="0" allowFullScreen="true"></iframe>