@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>Cryptocurrency analysis</h1>
    <p class="lead">Sources:</p>
    <p><a href="https://coinmarketcap.com/all/views/all/" class="btn btn-primary btn-lg">coinmarketcap &raquo;</a></p>
    <p><a href="https://bitinfocharts.com/cryptocurrency-prices/all.html" class="btn btn-primary btn-lg">bitinfocharts &raquo;</a></p>
</div>


